<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Departure airport</th>
        <th>Flight number</th>
        <th>Date</th>
        
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(f => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs%></td>
          <td><button><a href="flights/<%=f._id%>">Details</a></button></td>
          <td><form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
            <button>Delete Flight</button></form></td>
        </tr>
      <% }) %>
    </tbody>
  </table>













</main>



<%- include("../partials/footer") %> 